<% include ./navigation/navigation.ejs %>

<div class="container">
    <div class="row margin-top--md">
            <div class="col-sm-4">
                    <% include ../card/index.ejs %>
            </div>
            <div class="col-sm-4">
                <% include ../card/index.ejs %>
            </div>
            <div class="col-sm-4">
                <% include ../card/index.ejs %>
            </div>
    </div>
</div>