<link rel="stylesheet" type="text/css" media="screen" href="css/index.css"/>
<div class="landing__page">
    <div class="container">
        <div class="row landingpage__cover text--white">
            <div class="col col-sm-12">
                <nav class="navbar transparent navbar-expand-lg navbar-light ">
                    <a class="navbar-brand text--white text--bold" href="#">Lalita Sakhi</a>
                    <a class="navbar-brand text--white float--right" href="#">Contact</a>
                </nav>
            </div>
            <div class="col col-sm-12 cover__content centre--align">
                <h1>Fashion at it's best!</h1>
                <a href="/products" class="btn btn--purple text--white">Browse</a>
            </div>
        </div>
    </div>
</div>