.transparent{
    background: transparent !important;
}   
.navbar{
    max-width: 100%;
}

.landing__page{
    background-image: url('../images/assets/homepageCover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}